:root {
    /* Dark Mode UI */
    --main-background-dark: linear-gradient(180deg, rgb(0, 0, 0), rgb(10, 10, 10));
    --border-color-dark: rgb(35, 35, 35);
    --font-color-dark: rgb(255, 255, 255);
    --settings-dark: rgb(0, 0, 0);
    --stream-options-dark: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(10, 10, 10, .75));
    --overlay-dark: rgba(0, 0, 0, .85);
    --chat-tabs-dark: linear-gradient(0deg, rgb(15,15,15), rgb(55,55,55));
    /* Light Mode UI  */
    --main-background-light: linear-gradient(180deg, rgb(255, 255, 255), rgb(245, 245, 245));
    --border-color-light: rgb(220, 220, 220);
    --font-color-light: rgb(0, 0, 0);
    --settings-light: rgb(255, 255, 255);
    --stream-options-light: linear-gradient(180deg, rgba(255, 255, 255, .75), rgba(245, 245, 245, .75));
    --overlay-light: rgba(255, 255, 255, .85);
    --chat-tabs-light: linear-gradient(0deg, rgb(240, 240, 240), rgb(200, 200, 200));
}

html {
    font: 14px arial, sans-serif;
    /* Variables */
    --main-background: var(--main-background-dark, #000);
    --border-color: var(--border-color-dark, #232323);
    --font-color: var(--font-color-dark, #fff);
    --settings: var(--settings-dark, #000);
    --stream-options: var(--stream-options-dark, #000);
    --overlay: var(--overlay-dark, #000);
    --chat-tabs: var(--chat-tabs-dark, #0F0F0F);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #000;
    background: var(--main-background, #000);
    color: var(--font-color, #fff);
    margin: 0 5px;
    margin-bottom: 10px;
}

a,
a:visited {
    color: var(--font-color, #fff);
    cursor: pointer;
    text-decoration: none;
    transition: background 150ms, color 150ms;
    transition-timing-function: linear;
}

a:hover {
    color: #6a4e9e;
    text-decoration: underline;
}

iframe {
    border: 0 none;
}

hr {
    width: 90%;
    border: 1px solid var(--border-color, #232323);
}

#help-wrapper {
    text-align: justify;
}

.help-box {
    width: 30%;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--border-color, #232323);
    border-radius: 10px;
}

.help-box h1,
.help-box h3 {
    text-align: center;
}

.help-box p {
    font-size: 13px;
    margin: 10px;
}

.help-box a {
    color: #6a4e9e;
}

#form-wrapper {
    width: 45%;
    max-width: 850px;
    margin: 0 auto;
}

.form-label {
    width: 100%;
    color: var(--border-color, #232323);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

#form-wrapper .form-label {
    display: block;
    margin: 0 15px;
}

.form-field {
    color: var(--font-color, #fff);
    background: none;
    width: 100%;
    display: block;
    margin: 0 10px;
    margin-bottom: 5px;
    padding: 10px 7.5px;
    border: 2px solid var(--border-color, #232323);
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
}

#form-wrapper #stream-list {
    overflow-y: auto;
}

.form-button {
    width: 100%;
    margin: 0 10px;
    color: var(--font-color, #fff);
    background: #1f1f1f;
    background: rgba(125, 125, 125, .15);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 250ms;
    transition-timing-function: linear;
}

.form-button:hover {
    background: #efeff1;
    background: rgba(125, 125, 125, .35);
}

.form-multibuttons {
    width: 100%;
    margin: 0 15px;
    margin-bottom: 5px;
}

.form-multibuttons input {
    width: 150px;
    margin: 0;
    margin-right: 1px;
}

.form-checkbox {
    margin: 0 25px;
    margin-right: 2px;
    display: inline-block;
}

.form-checklabel {
    width: 90%;
    display: inline-block;
    font-weight: 600;
    padding: 5px 0;
}

#stream-wrapper {
    text-align: center;
    margin: 0;
    padding: 0;
}

#chat-wrapper {
    width: 25%;
    max-width: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 1px solid var(--border-color, #232323);
    border-radius: 4px;
}

.chat-tabs {
    margin: 0;
    padding: 0;
    background: #0F0F0F;
    background: var(--chat-tabs, #0F0F0F);
    border-radius: 4px 4px 0 0;
}

.chat-tabs:after,
.settings-tabs:after {
    display: block;
    clear: both;
    content: '';
}

.chat-tabs li {
    margin: 0 2px;
    float: left;
    list-style: none;
}

.chat-tabs a {
    padding: 5px 10px;
    display: inline-block;
    background: #282828;
    background: rgba(150, 150, 150, .15);
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color, #fff);
    border-radius: 4px 4px 0 0;
}

.chat-tabs a:hover {
    background: #1f1f1f;
    background: rgba(150, 150, 150, .35);
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #6a4e9e;
    background: rgba(106, 78, 158, .45);
    color: var(--font-color, #fff);
}

.chat-tab-content {
    padding: 0;
}

.stream-chat {
    display: none;
}

.stream-chat.active {
    display: block;
}

#settings-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.settings-tabs {
    margin: 0;
    padding: 0;
    background: var(--settings, #000);
}

.settings-tabs li {
    margin: 5px 0;
    padding: 0 5px;
    float: left;
    list-style: none;
    border-left: 2px solid var(--font-color, #fff);
}

.settings-tabs li:first-child {
    border: none;
}

.settings-tabs a {
    padding: 0 1px;
    display: inline-block;
}

#options-wrapper {
    display: none;
    z-index: 100;
    width: 45%;
    max-width: 750px;
    padding: 5px;
    border: 2px solid var(--border-color, #232323);
    border-radius: 10px;
    background: #000;
    background: var(--stream-options, #000);
    backdrop-filter: blur(5px);
}

#options-wrapper .form-label {
    display: inline-block;
    margin: 0 15px;
}

#options-wrapper .form-button,
#options-wrapper .form-field {
    margin: 5px auto;
    display: block;
}

#options-wrapper .form-multibuttons {
    width: fit-content;
    margin: 0 auto;
}

#options-wrapper .form-multibuttons input {
    display: inline-block;
}

#options-wrapper .stream-options {
    margin: 5px 15px;
}

#options-wrapper .stream-options li {
    list-style: none;
}

#options-overlay {
    display: none;
    z-index: 50;
    background: #000;
    background: var(--overlay, #000);
    position: absolute;
}

.left {
    float: left;
}

.right {
    float: right;
}